@{
    ViewData["Title"] = "За нас";
}

<title>@ViewData["Title"]</title>

<h1 id="aboutUsHead">Dress Up - Онлайн магазин за маркови дрехи и артикули втора употреба</h1>

<div class="leftPanel">
    <p class="textLine">Тук в Dress Up ще откриете безброй оферти </p>
    <p class="textLine">на маркови дрехи и стоки на ниски цени. </p>
    <p class="textLine">Артикулите втора употреба биват ръчно проверявани </p>
    <p class="textLine">и окачествявани от нашите колеги.</p>
    <p class="textLine">В Dress Up предлагаме също така и нови аксеоари и бижута,</p>
    <p class="textLine">с които да освежите стила си.</p>
</div>
<div class="rightPanel">
    <p class="textLine">При запитвания относно продукт или начин на закупуване </p>
    <p class="textLine">можете да се обърнете към нас на:</p>
    <p class="textLine">Телефон: 0884965846.</p>
    <p class="textLine">Email: darka.2004@abv.bg</p>
</div>
