<div class= "d-flex justify-content-center">
    <img src="~/img/tablitsa-s-razmeri-za-damski-drehi.png" />
</div>

<div class= "d-flex justify-content-center">
    <img src="~/img/tablitsa-s-razmeri-za-mazhki-drehi.png" />
</div>
