<link rel="stylesheet" href="~/css/css/style.css"/>
<link rel="stylesheet" href="~/css/site.css"/>
@using DressUp.Core.Models.DetailsViewModels
@model AccessoriesDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="singel_right">
    <div class="labout span_1_of_a1">

            <img class="pic" src="@Model.ImageUrl"/>

    </div>
    <div class="cont1 span_2_of_a1">
        <h1>@Model.Name</h1>
        <div class="price_single">
            <span class="actual">@Math.Round(Model.Price,2)лв.</span>
        </div>
        <p class="quick_desc">Описание: @Model.Description</p>        
        
        <div class="btn_form">
            
            <button id="addButton" class="btn btn-block btn-primary" onclick="AddToCart('Accessory',@Model.Id)">Add To Cart</button>

            @if (User.IsInRole("Administrator"))
            {
                <form>
                    <a id = "deleteButton" href="/Accessories/Delete?id=@Model.Id" class="btn btn-block btn-danger">
                        Delete
                    </a>
                </form>
                <form>
                    <a id = "editButton" href="/Clothes/Edit?id=@Model.Id" class="btn btn-success">
                        Edit
                    </a>
                </form>
            }
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    $('button').click(function(event) {
        toastr.options.closeButton = true;
			toastr.success('Успешно добавено към количката');
		});
</script>