<link rel="stylesheet" href="~/css/css/style.css" />

@{
    ViewData["Title"] = "Men Clothes";
}

 <title>@ViewData["Title"]</title>

<section class="w3l-ecommerce-main">
        <div class="ecom-contenthny py-5">
        <div class="container py-lg-5">     
            <!-- /row-->
            <div class="ecom-products-grids row mt-lg-5 mt-3">
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2 transmitv">
                        <div class="product-image2">
                            <a href="/Clothes/Details">
                                <img class="pic-1 img-fluid" src="/css/img/shop-1.jpg">
                            </a>
                            <div class="transmitv single-item">
                                <form action="#" method="post">
                                    @*<input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="transmitv_item" value="Women Maroon Top">
                                    <input type="hidden" name="amount" value="899.99">*@
                                    <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="/Clothes/Details">Women Maroon Top </a></h3>
                            <span class="price">$899.99</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="/css/img/shop-7.jpg">
                            </a>
                            <div class="transmitv single-item">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="transmitv_item" value="White T-Shirt">
                                    <input type="hidden" name="amount" value="599.99">
                                    <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">White T-Shirt </a></h3>
                            <span class="price"><del>$675.00</del>$599.99</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 product-incfhny mt-4">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a href="#">
                                <img class="pic-1 img-fluid" src="/css/img/shop-8.jpg">
                            </a>
                            <div class="transmitv single-item">
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="transmitv_item" value="Blue Sweater">
                                    <input type="hidden" name="amount" value="499.99">
                                    <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Blue Sweater</a></h3>
                            <span class="price"><del>$575.00</del>$499.99</span>
                        </div>
                    </div>

                </div>


            </div>
            <!-- //row-->
        </div>
    </div>
</section>