
@{
    ViewData["Title"] = "Administration Panel";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />


    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Administration Panel</h1>
    <div class="container">
        <div class="center">
            <div class="row">
                <div class="col">
                    <a href="/Admin/Admin/AddAccessories" class="button-1">Add Accessories</a>
                    <a href="/Admin/Admin/AddShoes" class="button-1">Add Shoes</a>
                    <a href="/Admin/Admin/AddClothes" class="button-1">Add Clothes</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/Admin/Admin/AddBags" class="button-1">Add Bags</a>
                    <a href="/Admin/Admin/AddColor" class="button-1">Add Color</a>
                    <a href="/Admin/Admin/AddMaterial" class="button-1">Add Material</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/Admin/Admin/UserList" class="button-1">All Users</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

