<link rel='stylesheet' href="~/css/detailsCss/style.css"/>
<link rel="stylesheet" href="~/css/css/style.css"/>


<div class="singel_right">
    <div class="labout span_1_of_a1">
        <!-- start product_slider -->
        <ul id="etalage">
            <img src="/css/img/shop-1.jpg"/>
        </ul>
        <!-- end product_slider -->
    </div>
    <div class="cont1 span_2_of_a1">
        <h1>ProductName...</h1>
        <div class="price_single">
            <span class="actual">ProductPrice...</span>
        </div>
        <p class="quick_desc"></p>

        <h3>Material...</h3>

        <h3>Size...</h3> 
        
        <h3>Color...</h3> 
        
        <div class="btn_form">
            <form>
                <input type="submit" value="Add to Cart" title="">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>