@{
    ViewData["Title"] = "Завършена поръчка";
}

<style>
    .endText{
        text-align: center;
        font-size:55px;
    }
    .buyText{
        text-align: center;
        font-size:35px;
    }
    #backToMainBtn{
        float:right;
        margin-top:100px;
    }
</style>

<title>@ViewData["Title"]</title>

<h1 class="endText">Честито!</h1>
<p class="buyText">Вие току-що успешно завършихте покупката си!</p>
<a id="backToMainBtn" class="btn btn-primary" href="/Home/Index">Обратно към пазаруването</a>