@{
    ViewData["Title"] = "Shopping Cart";
}

<style>
    .product-img {
        width: 200px;
        margin-right: -300px;
    }

    th {
        width: 10%;
    }

    #checkoutBtn{
        position: absolute;
        top: 0;
        right: 65px;
        width:170px;
        height:60px;
        font-size:28px;
    }

    .contentCheckout{
        position: relative;
    }
</style>


<h1>Количка</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Продукт</th>
            <th scope="col">Име</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="cartContent">
    </tbody>
</table>

<div class="contentCheckout">
<button id = "checkoutBtn" class="btn btn-primary pull-right">Купи</button>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {

        const tbody = $("#cartContent");

        let lsObj = [];

        if (localStorage.getItem("Cart")) {
            lsObj = JSON.parse(localStorage.getItem("Cart"))
            }

        if(lsObj.length <= 0) {return;}

        let options = {};

        lsObj.forEach(x=> {

            options.url = "/Cart/GetCartItemFor"+x.type;
            options.type = "GET";
            options.data = {"id": x.id};
            options.dataType = "json";

            options.success = (data) => {

                    tbody.append(`
                        <tr id="`+ x.type+x.id +`">
                            <td><img class="product-img" src="`+ data.imageUrl + `" /></td>
                            <td>`+ data.name +`</td>
                            <td>`+ data.price.toFixed(2) +"лв."+`</td>
                            <td>
                                <a onclick="RemoveFromCart(this)">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </a>
                            </td>
                        </tr>`)
        }

        $.ajax(options);

        });
    });

            function RemoveFromCart(el){

                const tr = $(el).closest("tr");
                const trId = $(el).closest("tr").attr('id');

                console.log(trId);

               let cart = JSON.parse(localStorage.getItem("Cart"));

               cart.forEach(x=>{

                   if (cart.filter(x => x.objId == tr).length <= 0) {
                        cart.splice(cart.indexOf(x), 1);
                        console.log(x.objId)
                        console.log(tr)
                   }

                })
                localStorage.setItem("Cart", JSON.stringify(cart));

                tr.remove();                         
            }
</script>