@{
    ViewData["Title"] = "Shopping Cart";
}

<style>
    .product-img {
        width: 200px;
        margin-right: -300px;
    }

    th {
        width: 10%;
    }
</style>


<h1>Shopping Cart</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>


    $(document).ready(function() {

    const tbody = $("tbody");
    });

    console.log("fetching");

    let lsObj = [];

     if (localStorage.getItem("Cart")) {
        lsObj = JSON.parse(localStorage.getItem("Cart"))
    }

    if(lsObj.length <= 0) return;

    lsObj.forEach(x=> {

    let options = {};

    options.url = "/Cart/GetCartItemFor"+x.type;
    options.type = "GET";
    options.data = {"Criteria": x.id};
    options.dataType = "json";

    options.success = (data)=> {

        console.log(data);

        tbody.innerHTML+= `
            <tr>
                <td><img class="product-img" src="${data.ImageUrl}" /></td>
                <td>${data.Name}</td>
                <td>${data.Price}</td>
                <td>
                    <a href="">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </td>
            </tr>`
    }

    $.ajax(options);

    });


</script>