@{
    ViewData["Title"] = "Количка";
}

<h1 class="cartHeader">Количка</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th id="productGrid" scope="col">Продукт</th>
                <th id="productGrid" scope="col">Име</th>
                <th id="productGrid" scope="col">Цена</th>
                <th id="productGrid" scope="col">Междинна сума</th>
                <th id="productGrid" scope="col"></th>
            </tr>
        </thead>
        <tbody id="cartContent">
        </tbody>
    </table>
    <div class="contentCheckout">
        <button id="checkoutBtn" class="btn btn-primary pull-right" onclick="BuyProducts()">Купи</button>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    $(document).ready(function() {


        var button = document.getElementById("checkoutBtn");

        const tbody = $("#cartContent");

        let lsObj = [];

        if (localStorage.getItem("Cart")) {
            lsObj = JSON.parse(localStorage.getItem("Cart"));
            }

        if(lsObj.length <= 0)
        {
            button.style.display = "none";
            return;
        }

        let options = {};

        let totalPrice = 0;

        lsObj.forEach(x=> {

            options.url = "/Cart/GetCartItemFor"+x.type;
            options.type = "GET";
            options.data = {"id": x.id};
            options.dataType = "json";

            options.success = (data) => {
                        totalPrice+=data.price;
                    tbody.append(`
                        <tr id="`+ x.type+x.id +`">
                            <td><img class="product-img" src="`+ data.imageUrl + `" /></td>
                            <td>`+ data.name +`</td>
                            <td>`+ data.price.toFixed(2) +"лв."+`</td>
                            <td><p style="font-size:25px;">`+totalPrice.toFixed(2)+"лв."+`</p></td>
                            <td>
                                <a onclick="RemoveFromCart(this)">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </a>
                            </td>
                        </tr>`);
            }

        $.ajax(options);

        });
    });

            function RemoveFromCart(el){

               const tr = $(el).closest("tr");
               const trId = $(el).closest("tr").attr('id');

               var button = document.getElementById("checkoutBtn");

               let cart = JSON.parse(localStorage.getItem("Cart"));

               cart.forEach(x=>{

                   if (x.objId==trId) {
                        cart.splice(cart.indexOf(x), 1);
                   }

                });
                localStorage.setItem("Cart", JSON.stringify(cart));

                tr.remove();

                if(cart.length<=0){
                    button.style.display = "none";
                }
            }

            function BuyProducts(){
                localStorage.clear();
                location.href = "/Cart/Buy";
            }

</script>