@model DressUp.Core.Models.BagsViewModel

@{
    ViewData["Title"] = "Add Bags";

    var colors = ViewBag.bagsColors;
    var materials = ViewBag.bagsMaterials;
}

<h1>Add Bags</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBags" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" accept="image/heic, image/png, image/jpeg, image/webp" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material">Choose a material:</label>
                <select asp-for="Material">
                    @foreach (var material in materials)
                    {
                        <option value="@material.Value">@material.Text</option>
                    }
                </select>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color">Choose a color:</label>
                <select asp-for="Color">
                    @foreach (var color in colors)
                    {
                        <option value="@color.Value">@color.Text</option>
                    }
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminPanel">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
