<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />


    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Administration Panel</h1>
    <div class="container">
        <div class="center">
            <div class="row">
                <div class="col">
                    <button class="button-1">Add Accessories</button>
                    <button class="button-1">Add Shoes</button>
                    <button class="button-1">Add Clothes</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <button class="button-1">Add Bags</button>
                <button class="button-1">Add Color</button>
                <button class="button-1">Add Material</button>
                </div>
            </div>
        </div>
    </div>

    @* <style>
        .Admin-operations ul {
        list-style-type: none;
        padding: 0;
        }

        .Admin-operations li a {
        color: #FFF;
        font-size: 1.3rem;
        }
        </style>

        <h1 class="text-center">Administration Panel</h1>

        <div class="Admin-operations row m-auto">
        <ul class="col-6 text-center">
        <li><a asp-action="CreateAnime" asp-controller="Administration">Anime</a></li>
        <li><a asp-action="CreateEpisode" asp-controller="Administration">Episode</a></li>
        <li><a asp-action="CreateFilter" asp-controller="Administration">Filter</a></li>
        </ul>
        <ul class="col-6 text-center">
        <li><a asp-action="ManageAnime" asp-controller="Administration">Anime</a></li>
        <li><br /></li>
        <li><a asp-action="ManageFilter" asp-controller="Administration">Filter</a></li>
        </ul>
        </div>*@
</body>
</html>

