<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a href="/Clothes/ClothesMen" class="nav-link">
              <i class="fa-solid fa-person fa-xl"></i>
              <p class="list-item-names">&nbsp;Мъже</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/Clothes/ClothesWomen" class="nav-link">
              <i class="fa-solid fa-person-dress fa-xl"></i>
              <p class="list-item-names">&nbsp;Жени</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/Clothes/ClothesChildren" class="nav-link">
              <i class="fa-solid fa-child fa-lg"></i>
              <p class="list-item-names">&nbsp;Деца</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/Shoes/Shoes" class="nav-link">
            <i class="fa-solid fa-shoe-prints fa-lg"></i>
              <p class="list-item-names">&nbsp;Обувки</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/Bags/Bags" class="nav-link">
              <i class="fa-solid fa-bag-shopping fa-lg"></i>
              <p class="list-item-names">&nbsp;Чанти и Раници</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/Accessories/Accessories" class="nav-link">
              <i class="fa-solid fa-ring fa-lg"></i>
              <p class="list-item-names">&nbsp;Аксесоари</p>
            </a>
          </li>    
        </ul>
      </nav>