<link rel="stylesheet" href="~/css/css/adminlte.css" />

<style>
    #sideMenu {
    padding-bottom: 20px;
}
</style>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li id="sideMenu" class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-shirt fa-lg">
                </i>
                <p>
                    Дрехи
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Clothes/ClothesMen" class="nav-link">
                        <p>За Мъже</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Clothes/ClothesWomen" class="nav-link">
                        <p>За Жени</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Clothes/ClothesChildren" class="nav-link">
                        <p>За Деца</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Clothes/ClothesAll" class="nav-link">
                        <p>Всички дрехи</p>
                    </a>
                </li>
            </ul>
        </li>

        <li id="sideMenu" class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-shoe-prints fa-lg">
                </i>
                <p>
                    Обувки
                    <i class="fas fa-angle-left right">
                    </i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Shoes/ShoesMen" class="nav-link">
                        <p>За Мъже</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Shoes/ShoesWomen" class="nav-link">
                        <p>За Жени</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Shoes/ShoesChildren" class="nav-link">
                        <p>За Деца</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Shoes/Shoes" class="nav-link">
                        <p>Всички обувки</p>
                    </a>
                </li>
            </ul>
        </li>

        <li id="sideMenu" class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-bag-shopping fa-lg">
                </i>
                <p>
                    Чанти и раници
                    <i class="fas fa-angle-left right">
                    </i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Bags/BagsMen" class="nav-link">
                        <p>За Мъже</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Bags/BagsWomen" class="nav-link">
                        <p>За Жени</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Bags/BagsChildren" class="nav-link">
                        <p>За Деца</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Bags/Bags" class="nav-link">
                        <p>Всички</p>
                    </a>
                </li>
            </ul>
        </li>

        <li id="sideMenu" class="nav-item ">
            <a class="nav-link">
                <i class="fa-solid fa-ring fa-lg">
                </i>
                <p>
                    Аксесоари
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Accessories/Watches" class="nav-link">
                        <p>Часовници</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Necklaces" class="nav-link">
                        <p>Колиета</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Bracelets" class="nav-link">
                        <p>Гривни</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Earrings" class="nav-link">
                        <p>Обеци</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Keychains" class="nav-link">
                        <p>Ключодържатели</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Accessories" class="nav-link">
                        <p>Всички аксесоари</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
