<style>

    /* Dropdown Button */
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: relative;
        background-color: GrayText;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: red;
    }
</style>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        @*<li class="nav-item">
            <a href="/Clothes/ClothesMen" class="nav-link">
            <i class="fa-solid fa-person fa-xl"></i>
            <p class="list-item-names">&nbsp;Мъже</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="/Clothes/ClothesWomen" class="nav-link">
            <i class="fa-solid fa-person-dress fa-xl"></i>
            <p class="list-item-names">&nbsp;Жени</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="/Clothes/ClothesChildren" class="nav-link">
            <i class="fa-solid fa-child fa-lg"></i>
            <p class="list-item-names">&nbsp;Деца</p>
            </a>
            </li>*@
        <li class="nav-item">
            <div class="dropdown">
                <button onclick="location.href='/Clothes/ClothesAll'" class="btn btn-block btn-outline-primary btn-lg">
                    Дрехи
                    <i class="fa-solid fa-person"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Clothes/ClothesMen" class="nav-link">
                        <p class="list-item-names">&nbsp;За Мъже</p>
                    </a>
                    <a href="/Clothes/ClothesWomen" class="nav-link">
                        <p class="list-item-names">&nbsp;За Жени</p>
                    </a>
                    <a href="/Clothes/ClothesChildren" class="nav-link">
                        <p class="list-item-names">&nbsp;За Деца</p>
                    </a>
                </div>
            </div>
        </li>
        </br>
        <li class="nav-item">
            <div class="dropdown">
                <button onclick="location.href='/Shoes/Shoes'" class="btn btn-block btn-outline-primary btn-lg">
                    Обувки
                    <i class="fa-solid fa-shoe-prints fa-lg"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Shoes/ShoesMen" class="nav-link">
                        <p class="list-item-names">&nbsp;За Мъже</p>
                    </a>
                    <a href="/Shoes/ShoesWomen" class="nav-link">
                        <p class="list-item-names">&nbsp;За Жени</p>
                    </a>
                    <a href="/Shoes/ShoesChildren" class="nav-link">
                        <p class="list-item-names">&nbsp;За Деца</p>
                    </a>
                </div>
            </div>
        </li>
        </br>
        <li class="nav-item">
            <div class="dropdown">
                <button onclick="location.href='/Bags/Bags'" class="btn btn-block btn-outline-primary btn-lg">
                    Чанти и раници
                   <i class="fa-solid fa-bag-shopping fa-lg"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Bags/BagsMen" class="nav-link">
                        <p class="list-item-names">&nbsp;За Мъже</p>
                    </a>
                    <a href="/Bags/BagsWomen" class="nav-link">
                        <p class="list-item-names">&nbsp;За Жени</p>
                    </a>
                    <a href="/Bags/BagsChildren" class="nav-link">
                        <p class="list-item-names">&nbsp;За Деца</p>
                    </a>
                </div>
            </div>
        </li>
       </br>
        <li class="nav-item">
            <div class="dropdown">
                <button onclick="location.href='/Accessories/Accessories'" class="btn btn-block btn-outline-primary btn-lg">
                    Аксесоари
                    <i class="fa-solid fa-ring fa-lg"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/Accessories/Watches" class="nav-link">
                        <p class="list-item-names">&nbsp;Часовници</p>
                    </a>
                    <a href="/Accessories/Necklaces" class="nav-link">
                        <p class="list-item-names">&nbsp;Колиета</p>
                    </a>
                    <a href="/Accessories/Bracelets" class="nav-link">
                        <p class="list-item-names">&nbsp;Гривни</p>
                    </a>
                    <a href="/Accessories/Rings" class="nav-link">
                        <p class="list-item-names">&nbsp;Пръстени</p>
                    </a>
                    <a href="/Accessories/Keychains" class="nav-link">
                        <p class="list-item-names">&nbsp;Ключодържатели</p>
                    </a>
                </div>
            </div>
        </li>
        
    </ul>
</nav>