<link rel="stylesheet" href="~/css/css/adminlte.css" />


<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        @* <li class="nav-item">
            <a href="/Clothes/ClothesMen" class="nav-link">
            <i class="fa-solid fa-person fa-xl"></i>
            <p class="list-item-names">&nbsp;Мъже</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="/Clothes/ClothesWomen" class="nav-link">
            <i class="fa-solid fa-person-dress fa-xl"></i>
            <p class="list-item-names">&nbsp;Жени</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="/Clothes/ClothesChildren" class="nav-link">
            <i class="fa-solid fa-child fa-lg"></i>
            <p class="list-item-names">&nbsp;Деца</p>
            </a>
            </li>*@

        @*<li class="nav-item">
            <div class="dropdown">
            <button onclick="location.href='/Clothes/ClothesAll'" class="btn btn-block btn-outline-primary btn-lg" >
            <i class="fa-solid fa-shirt fa-lg"></i>
            <a >&nbsp Дрехи</a>
            </button>
            <div class="dropdown-content">
            <a href="/Clothes/ClothesMen" class="nav-link">
            <p class="list-item-names">&nbsp;За Мъже</p>
            </a>
            <a href="/Clothes/ClothesWomen" class="nav-link">
            <p class="list-item-names">&nbsp;За Жени</p>
            </a>
            <a href="/Clothes/ClothesChildren" class="nav-link">
            <p class="list-item-names">&nbsp;За Деца</p>
            </a>
            </div>
            </div>
            </li>*@

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-shirt fa-lg">                    
                </i>
                <p>
                    Дрехи
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Clothes/ClothesMen" class="nav-link">
                        <p>За Мъже</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Clothes/ClothesWomen" class="nav-link">
                        <p>За Жени</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Clothes/ClothesChildren" class="nav-link">
                        <p>За Деца</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Clothes/ClothesAll" class="nav-link">
                        <p>Всички дрехи</p>
                    </a>
                </li>
            </ul>
        </li>
        </br>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-shoe-prints fa-lg">
                </i>
                <p>
                    Обувки
                    <i class="fas fa-angle-left right">
                    </i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Shoes/ShoesMen" class="nav-link">
                        <p>За Мъже</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Shoes/ShoesWomen" class="nav-link">
                        <p>За Жени</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Shoes/ShoesChildren" class="nav-link">
                        <p>За Деца</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Shoes/Shoes" class="nav-link">
                        <p>Всички обувки</p>
                    </a>
                </li>
            </ul>
        </li>

        </br>

        <li class= "nav-item">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-bag-shopping fa-lg">
                    </i>
                <p>Чанти и раници
                    <i class="fas fa-angle-left right">
                        </i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Bags/BagsMen" class="nav-link">
                        <p>За Мъже</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Bags/BagsWomen" class="nav-link">
                        <p>За Жени</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Bags/BagsChildren" class="nav-link">
                        <p>За Деца</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Bags/Bags" class="nav-link">
                        <p>Всички</p>
                    </a>
                </li>
            </ul>
        </li>
        
        </br>

        <li class= "nav-item ">
            <a href="#" class="nav-link">
                <i class="fa-solid fa-ring fa-lg">
                    </i>
                <p>
                    Аксесоари
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none;">
                <li class="nav-item">
                    <a href="/Accessories/Watches" class="nav-link">
                        <p>Часовници</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Necklaces" class="nav-link">
                        <p>Колиета</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Bracelets" class="nav-link">
                        <p>Гривни</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Earrings" class="nav-link">
                        <p>Обеци</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Accessories/Keychains" class="nav-link">
                        <p>Ключодържатели</p>
                    </a>
                </li>
            </ul>
        </li>       
    </ul>
</nav>
