@{
    var msg = ViewBag.message;
}

<div class="alert alert-danger alert-dismissable">
    <a href="javascript:window.history.back()" class="close" aria-label="close">X</a>
    <strong>Error!</strong>
    <a>@msg</a>
</div>